* {
  margin: 30px;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: hsl(217, 54%, 11%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  display: flex;
  flex-direction: column;
  border: 2px solid hsl(216, 50%, 16%);
  background-color:  hsl(216, 50%, 16%);
  border-radius: 20px;
  height: 830px;
  max-width: 450px;
}

.image-avatar {
  width: 385px;
  border-radius: 10px;
}

#equilibrium {
  margin-top: 7px;
  font-size: 30px;
  font-weight: 600; 
  color: hsl(0, 0%, 100%); 
}

#paragraph {
  margin-top: 2px;
  color: hsl(215, 51%, 70%);
  font-size: 24px;
  font-weight: 300;
  line-height: 35px;
}

.icon-ethereum {
  width: 15px;
  height: 25px;
  margin-top: 9px;
}


#eth {
  display: flex;
  flex-direction: column;
  color: hsl(178, 100%, 50%);
  font-size: 23px;
  margin-top: 9px;
  margin-left: -20px;
}

.block-1 {
  display: flex;
  align-items: center;
  margin-top: -5px;
  margin-left: 5px;
}

.icon-clock {
  width: 23px;
  height: 25px;
  margin-top: -250px;
  margin-right: -30px;
}

#timer {
  display: flex;
  flex-direction: column;
  font-size: 23px;
  margin-top: -250px;
  color: hsl(215, 51%, 70%);
  font-size: 23px;
}

.block-2 {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 0.7rem;
  margin-top: 65px;
  margin-right: 3px;
}

.divider {
  margin-top: -110px;
  border: none;
  border-top: 1px solid hsl(215, 51%, 70%);
}

.image-jules {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  margin-top: 20px;
  margin-left: -10px;
}

#jules-create {
  color: hsl(215, 51%, 70%);
  font-size: 20px;
  margin-top: 20px;
  margin-left: -10px;
}

.jules {
  color: white;
  font-size: 27px;
  margin-left: -23px;
  margin-top: 18px;
}

.block-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}

